version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-alpine
    # container_name: rabbitmq
    restart: unless-stopped
    networks:
      - app_network
    ports:
      - "5672:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RabbitMQ__Username}
      - RABBITMQ_DEFAULT_PASS=${RabbitMQ__Password}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  dont-forget-gateway:
    image: dont-forget-gateway
    # container_name: dont-forget-gateway
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app_network
    ports:
      - "5000:5000"
    environment:
      - RabbitMQ__Host=${RabbitMQ__Host}
      - RabbitMQ__Username=${RabbitMQ__Username}
      - RabbitMQ__Password=${RabbitMQ__Password}
      - Server__Host=${Server__Host}
      - Jwt__Secret=${Jwt__Secret}
      - Jwt__Issuer=${Jwt__Issuer}
      - Jwt__Audience=${Jwt__Audience}

volumes:
  rabbitmq_data:
    driver: local

networks:
  app_network:
    name: dontforgetgateway_app_network
    # name: pocmsgateway_app_network
